.map-page * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.map-page #root {
  height: 20vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
  font-family: sans-serif;
  color: #333;
}

.map-page .leaflet-container {
  height: 80vh;
  width: 80%;
  border-radius: 0;
  border: 3px solid black;
}

.map-page .cluster-icon {
  background-color: #333;
  height: 2em;
  width: 2em;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.2rem;
  box-shadow: 0 0 0px 5px #fff;
}

.map-page .leaflet-popup {
  background: #fff; /* White background for clarity */
  border-radius: 8px; /* Rounded corners for a softer look */
  border: 1px solid #ccc; /* Subtle border */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
  font-family: Arial, sans-serif; /* Consistent, readable font */
}

.map-page .leaflet-popup-content {
  padding: 10px; /* Adequate padding around the content */
  font-size: 14px; /* Appropriate font size */
  line-height: 1.4; /* Improve readability with line spacing */
}

.map-page .leaflet-popup-content-wrapper {
  padding: 0; /* Remove any default padding */
}

.map-page .leaflet-popup-tip-container {
  display: none; /* This will hide the tip */
}
